<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964672379642-9dvdf650cvg32nsm77lrni4q8u8butp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964672379642-9dvdf650cvg32nsm77lrni4q8u8butp4</string>
	<key>API_KEY</key>
	<string>AIzaSyBCdmzgB9e75L_6w_W4UHcBj235srK6_64</string>
	<key>GCM_SENDER_ID</key>
	<string>964672379642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tinkoff.TinkoffChat</string>
	<key>PROJECT_ID</key>
	<string>tinkoffchat-6672e</string>
	<key>STORAGE_BUCKET</key>
	<string>tinkoffchat-6672e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964672379642:ios:4d29aa71b4b669d61a0743</string>
	<key>DATABASE_URL</key>
	<string>https://tinkoffchat-6672e.firebaseio.com</string>
</dict>
</plist>