<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827279154631-mg02lq28rs91m7gejbb23n2hto0oqb7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827279154631-mg02lq28rs91m7gejbb23n2hto0oqb7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAiO0vaZDeAzUzKBnbG2FYLRXbMidDfx88</string>
	<key>GCM_SENDER_ID</key>
	<string>827279154631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.DmitriyZaytcev.fintech-chat</string>
	<key>PROJECT_ID</key>
	<string>test-c956c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-c956c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827279154631:ios:4a8f1df80b091c71714de2</string>
	<key>DATABASE_URL</key>
	<string>https://test-c956c.firebaseio.com</string>
</dict>
</plist>